<% if @create_book.errors.any? %>
  <div class="text-danger", id="error_explanation">
    <h2><%= pluralize(@create_book.errors.count, "error") %> prohibited this book from being saved:</h2>
    <ul>
      <% @create_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<%end%>
<div class="container">
  <div class="row">
    <%= render 'layouts/user_info', userinfo: @c_user, create_book: @create_book %>
    <%= render 'layouts/list', books: @books %>
  </div>
</div>